# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_TENAXOLED_LEFT
	def_bool $(shields_list_contains,tenaxoled_left)

config SHIELD_TENAXOLED_RIGHT
	def_bool $(shields_list_contains,tenaxoled_right)
